.board-form {
    width: 100%
}

.invalid {
    border-color: red;
    background: rgb(253, 201, 201);
  }
  
.invalid {
    color: red;
  }

.hideFormBtn {
    margin-top: 40px;
    height: 130px;
    justify-self: center;
    align-self: center;
}

.btn {
    margin-right: 5px;
}