.board-form {
    width: 100%
}

.invalid {
    border-color: red;
    background: rgb(253, 201, 201);
    color: red;
}

.hideFormBtn {
    margin-top: 39px;
    height: 134px;
    width: 150px;
    justify-self: center;
    align-self: center;
}

.btn {
    margin-right: 5px;
}