.cardContainer {
  /* display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;*/
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h2.cardTitle {
  margin: 16px;
  text-transform: capitalize;
}
