.cardContainer {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: auto;
  flex-direction: row;
}

h2.cardTitle {
  margin-top: 50px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  margin-top: 20px;
}
