h1 {
  text-align: center;
}


.App-header {
  background-color: #4778db;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.center {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.boardBtn {
  justify-content: center;
}
